.btn_play{
    background: #fff;
    button{
        width: 100%;
        height: 100%;
        background-size:100% 100%;
        border: 1px solid #ff0;
        
            &:hover:not([disabled]){
                border:3px solid #999;
                @media (any-hover: hover) {
                    background: #f20;
                }
            }
        

        &.on {
            background: #0ff;
            @media (any-hover: hover) {
                &:hover:not([disabled]){
                    background: #00f;
                }
            }
        }
    }
}


