%box {
    padding: 0.5em;
  
  }

#root {
    @extend %box;
    width: width('../images/bg.png');
    height: height('../images/bg.png');
    background-image: resolve('../images/bg.png');
    padding : 20px;
    box-sizing: border-box;
}
.root {
    @extend #root;
    background-image: resolve('../images/bg.png');
    div, p{
        margin: 10px;
        padding:0px;

    }
    .sub {
        margin : 10px;
    }
}

@mixin headline ($color, $size) {
    color: $color;
    font-size: $size;
  }
  
  h1 {
    @include headline(green, 12px);
  }
