$mobile : 1;
$desktop : 2;

@mixin main($size){

	.btn_play{
		background: #fff;
		button{
			width: 100%;
			height: 100%;
			background-size:100% 100%;
			border: 1px solid #ff0;

			@media (any-hover: hover) {
				&:hover:not([disabled]){
					background: #f00;
				}
			}

			&.on {
				background: #0ff;
				&:hover:not([disabled]){
					background: #00f;
				}
			}
		}
	}
}


@mixin for-size($range) {
	$break: 600px;

	@if $range == $mobile {
		@media (max-width: #{$break - 1}) { @content; }
	} @else {
		@media (min-width: $break) { @content; }
	}
}


@include for-size($mobile) {
    @include main($mobile)
}

@include for-size($desktop) {
    @include main($desktop)
}